body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pista {
    width: 800px;
    height: 200px;
    border: 5px solid #000;
    position: relative;
    background-color: lightgray;
}

.pista img {
    position: absolute;
    height: 100px;
}

#autoRojo {
    left: 0;
    position: absolute;
}

#autoAzul {
    margin-top: 100px;
    left: 0;
}
#meta{
    height: 200px;
    margin-left: 786px;
}