body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}
h1 {
    color: #2c3e50;
}
img {
    width: 300px;
    height: auto;
    margin: 20px 0;
}
p {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: justify;
}
li ul{
    max-width: 800px; 
    margin: 0 auto; 
    text-align: justify;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
